@model IEnumerable<WebApplication4.Models.UserModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<div class="container">
    <div class="page-header">
        Welcome @ViewBag.userID
    </div>
</div>