@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-12">
    <img src="~/images/CompLogo.PNG" alt="ASP.NET" class="img-responsive" />
</div>

<div class="container">
    <h3>Test Details</h3>
    <div class="panel panel-default">
        <div class="panel-heading">Developer: Harsh Dave <a href="http://www.github.com/harsh18594" target="_blank">Github</a></div>
        <div class="panel-body">.NET Core 2.0 MVC application created by Harsh Dave as a part of interview
        for Junior .NET Web Developer position at Dynamis Soft Inc.</div>
    </div>
</div>
